.cartbiv{
    margin-top: 108px;
    margin-bottom: 50px;
}
.carttable{
    width: 100%;
}
#table{
    display: flex;
    justify-content: center;
}

#cart_footer{
    display: flex;
    justify-content: center;
}
*{
    font-family: "Poppins";
}

.input-delv{
    width: 10%;
    height: 30px;
    text-align: center;
    border-color: lightgray;
    border-radius: 5px;
    min-width: 40px;
    margin: 10px 10px 0 5px;
    text-decoration: none;
}
.input-delv:hover{
    box-shadow: 2px 2px 2px lightgrey;
   
}
.btn-send{
    position: fixed;
    bottom: 50px;
    left: 42%;
}
.btn-send:hover{
    box-shadow: 3px 0px 3px 3px lightgray;
    transition: all .3s;
}