.center-div{
    display: inline-flex;
    justify-content: center;
}
@media print {
    @page{
        size:A4;
    }
    .mainContent,.Sidebar,.navbar,.footer,.Appbtn{
        display: none !important;
    }
    .contentContainer{
        padding: 0 !important;
    }
    .PDFbtn{
        display: none;
    }
    .CSVbtn{
        display: none;
    }
    .sheetPrint {
        width: 100% !important;
    }
    .TopBox,.TopBox2{
        width: 15% !important;
    }
    .TopBoxes{
        margin:20px 0 ;
    }
    .Chart{
    /* Override Bootstrap's col-lg-6 for printing */
    display: inline-block;
    width: 90% !important;
    margin: 15px 0 !important;
    }
}

*{
    font-family: "Poppins";
  }