label{
    text-align: center;
}
.staff{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.staff button{
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
}
.add{
    background-color:#1f3668;
    color: #f3d844;
}
.cancel{
    background-color: #f3d844;
    color: #1f3668;
}

*{
    font-family: "Poppins";
  }