@import url("../../style/variables.css");

*{
    font-family: "Poppins";
}
.navbar{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    z-index: 101;
    border-bottom: solid 2px var(--soft-bg);
}
.user img{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
    margin-right: 10px;
}
.bg-transperant{
    background-color: rgba(255, 255, 255, 0.336); /* Transparent background color */
    backdrop-filter: blur(3px); /* Adjust the blur value as needed */
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.logo{
    align-items: center;
    gap: 20px;
}
.notification{
    position: relative;
}
.notificationCount{
    position: absolute;
    background-color: red;
    color: white;
    font-weight: 500;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    font-size: 10px;
    width: 17px;
    height: 17px;
    text-align: center;
    justify-content: center;
}
/* .dropdown-menu{
    
    margin-right: 3px;
} */