@import "./variables.css";

* {
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none !important;
    color: inherit !important;
  }
  .UserContent{
    margin-top: 108px;
    width: 99%;
  }
  .contentContainer{
    height: fit-content;
    width: 100%;
  }
  .pagesContent{
    margin-left: 50px;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: auto; 
}
  .main {
    font-family: "Inter", sans-serif;
  }
  .navbar{
    color: var(--main-color);
  }
  
  .containers {
    margin-top: 45px;
    width: 100%;
    display: flex;
    justify-self: start;
  }

  .menuContainer {
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #1E3669;
    padding: 5px 0px 5px 10px;
    border-right: 2px solid var(--soft-bg);
  }
  @media (max-width :768px){

   .home{
      width: 568px;
      display: inline-block;
    }
  }
  @media (max-width :768px){
    .home{
      width: 100%;
      display: grid;
    }
    .contentContainer{
      width: 100%;
      display: grid;
    }
    .menuContainer{
      width: fit-content;
    }
  }
  @media (max-width :920px){
    .contentContainer{
      margin: 0 0 0 55px ;
      padding: 0;
      width: 100%;
      display: grid;
    }
    .pagesContent{
      margin-left: 0px;
  }
  }
