@import '../../style/variables.css';
.footer{
    z-index: 2;
    background-color: var(--main-color);
    color: var(--main-bg);
    font-weight: 500;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 5px 10px;
    justify-content: space-between;
}
.btn-footer-feedback{
    border: 0;
    background-color: transparent;
    font-weight: 700;
    text-decoration: underline;
}